<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  
    <p>
    <strong>Address: COUNTRY</strong>
    <%= user.address.country %>
   </p>
   <p>
    <strong>Address: STATE</strong>
    <%= user.address.state %>
   </p>
     <p>
    <strong>Address: CITY</strong>
    <%= user.address.city %>
   </p>
</div>
